// Fonts
// @import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Nunito");
// @import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAwesome
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Animate.css
@import "~animate.css/animate.min.css";

// Awesomplete
@import "~awesomplete/awesomplete.base.css";
@import "awesomplete.theme.scss";

// Custom
@import "custom";
